asn1crypto==0.24.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
command-not-found==0.3
cryptography==2.1.4
distro-info===0.18ubuntu0.18.04.1
filelock==3.0.12
idna==2.6
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.6.3
netifaces==0.10.4
pycrypto==2.6.1
pygobject==3.26.1
python-apt==1.6.5+ubuntu0.6
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
requests-file==1.5.1
SecretStorage==2.3.1
six==1.11.0
soupsieve==2.2.1
ssh-import-id==5.7
tldextract==3.1.0
ubuntu-advantage-tools==27.2
ufw==0.36
urllib3==1.26.5
vk-api==11.9.4
